@import "tailwindcss";

@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
