@import "tailwindcss";

@theme {
  --color-white: hsl(0, 0%, 100%);
  --color-Stone-100: hsl(30, 54%, 90%);
  --color-Stone-150: hsl(30, 18%, 87%);
  --color-Stone-600: hsl(30, 10%, 34%);
  --color-Stone-900: hsl(24, 5%, 18%);
  --color-Brown-800: hsl(14, 45%, 36%);
  --color-Rose-800: hsl(332, 51%, 32%);
  --color-Rose-50: hsl(330, 100%, 98%);
}

@import url("https://fonts.googleapis.com/css2?family=Young+Serif:wght@400&family=Outfit:wght@400;600;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: hsl(30, 54%, 90%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Young Serif", serif;
}

p {
  font-family: Outfit, sans-serif;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}
